/* Styles for railway visualisations */
body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    background-image: url("../images/logoPage.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
#imageContainer {
    margin-top: 1%;
}
#imageContainer img {
    width: 20%;
}