/* Styles for railway visualisations */
body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
    color: white;
}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation li {
    display: inline;
}
.navigation li a {
    text-align: center;
    padding: 0%;
    text-decoration: none;
    font-size: 3.5vw;
    color: white;
    margin: 0 0%;
}
.navigation li a img {
    width: 7.5%;
    padding: 0 5px;
}
.navigation img {
    width: 35%;
}
#introText {
    margin: 25% 0 50% 15%;
}
.introduction {
    font-size: 3.5vw;
}
.section {
    padding: 12.5% 5% 0 5%;
}
#logoContainer {
    margin-bottom: 5%;
}